@config "../tailwind.config.ts";
@import "tailwindcss";

@layer base {
  html {
    scroll-padding-top: 96px;
  }

  body {
    @apply antialiased;
    background-color: white;
    color: rgb(31 41 55); /* equivalente a text-gray-800 */
  }

  h1 {
    @apply text-3xl font-bold tracking-tight;
  }

  h2 {
    @apply text-2xl font-bold tracking-tight;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  p {
    @apply text-sm leading-relaxed;
  }
}

@media (min-width: 768px) {
  @layer base {
    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }

    h3 {
      @apply text-2xl;
    }

    p {
      @apply text-base;
    }
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-tierra-600 text-white rounded-lg border border-tierra-700 shadow-sm hover:bg-tierra-700 transition-all duration-300 font-medium;
  }

  .btn-secondary {
    @apply px-6 py-3 bg-white text-tierra-700 border-2 border-tierra-600 rounded-lg shadow-sm hover:bg-tierra-50 transition-all duration-300 font-medium;
  }

  .section-padding {
    @apply py-16 px-6;
  }

  .container-custom {
    @apply max-w-7xl mx-auto;
  }
}

@media (min-width: 768px) {
  @layer components {
    .section-padding {
      @apply py-24 px-12;
    }
  }
}

@media (min-width: 1024px) {
  @layer components {
    .section-padding {
      @apply px-24;
    }
  }
}
